
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Almarai", sans-serif;

}
body{
	overflow-x: hidden;
}
html{
	scroll-behavior: smooth;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none!important;
}
li{
	list-style: none!important;
}
h1{
	font-size: 40px;
	font-weight: 600!important;
}
h2{
	font-size: 32px;
	font-weight: 600!important;
}
h3{
	font-size: 24px;
	font-weight: 600!important;
}

p{
	font-size: 16px;
}
.for-mobile{
	display: none;
}
.dis-flex{
	display: flex;
	align-items: center;
}
.dis-content{
	display: flex;
	justify-content: space-between;
}
.section-padding{
	width: 100%;
	display: flex;
	padding: 100px 0;
}


/* hero-section */
.hero{
	width: 100%;
	height: auto;
	padding-bottom: 70px;
	background: linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(27,54,93,1) 76%);
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -1;
}
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(27,54,93,1) 56%);
    z-index: 1;
}
.top-menu{
	padding: 8px 0;
	background-color: #1C355E4D;;
}
.top-menu-left ul,.top-menu-right ul {
	display: flex;
	margin: 0;
	padding: 0;
}
.top-menu-left ul li a , .top-menu-right ul li a{
	color: #fff;
	font-size: 14px;
}
.top-menu-left ul li{
	margin-right: 20px;
}
.top-menu-left ul li i{
	margin-right: 10px;
}
.top-menu-right li{
	margin-left: 20px;
}
.top-menu-right li i{
	font-size: 18px;
}

.navbar-nav .nav-item:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}
.navbar-brand img{
	width: 150px;
}
.nav-link {
	color: #fff;
	margin-left: 40px;
	font-size: 16px;
	font-weight: 600;
	margin-top: 20px;
}
.nav-link:hover{
	color: #fff;
}
.navbar{
	padding: 0!important;
}
.menu2 .top-menu{
	background:#061D3E;
}
.menu2 .nav-link {
	color: #061D3E;
}
.hero-content{
	color: #fff;
}
.hero-text{
	margin-top: 80px;
	width: 60%;
}
.navbar-toggler-icon i{
	color: #fff;
}
.hero-text p{
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 30px;
}
.hero-text a{
	color: #fff;
	border: 1px #fff solid;
	border-radius: 5px;
	padding: 13px 35px;
}
.hero-text a:hover{
	color: #fff;
}
.hero-text-bottom{
	margin-top: 100px;
}
.hero-box{
	margin-top: 20px;
	border: 1px #fff solid;
	border-radius: 5px;
	padding: 20px 25px;
}
.hero-box-left{
	width: 70%;
	padding-right: 10px;
}
.hero-box-left p{
	font-size: 14px;
	margin: 0;
}
.hero-box-left h5{
	font-size: 16px;
	font-weight: 600;
	margin-bottom:8px;
}
.hero-box-right{
	width: 30%;
	text-align: right;
}
.hero-box-right img{
	width:60px;
}


/* properties */
.properties{
	background: #fff;
}
.properties-area{
	width: 100%;
	display: flex;
	margin-top: 40px;
	border: 4px #fff solid;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 0px 10px 0px rgba(141.37499999999997, 141.37499999999997, 141.37499999999997, 0.47);
}
.section-title-center{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.section-title-center h2{
	color: #1B365D;
}
.properties-area-left{
	width: 40%;
	padding: 40px 20px 60px;
	background: #F6F6F6;
}
.properties-area-right{
	width: 60%;
	text-align: right;
	background-size: cover!important;
}
.properties-area-right h3{
	font-size: 20px;
	color: #fff;
	display: inline-block;
	font-weight: 400!important;
	background: #07C645;
	padding: 10px;
	margin: 15px;
	border-radius: 4px;
}
.properties-area-left{
	text-align: center;
}
.properties-area-left ul{
	text-align: left;
	width: 100%;
}
.properties-area-left ul li{
	margin-bottom: 10px;
}
.properties-area-left ul li i{
	margin-right: 10px;
}
.bule-btn{
	padding: 14px 35px;
	color: #fff;
	background: #1B365D;
	border-radius: 4px;
}
.bule-btn:hover{
	color: #fff;
}

/* call-to-action */
.call-to-action{
	width: 100%;
	padding: 40px 0 30px;
	margin-top: 100px;
	background: #1B365D;
}
.cal-img img{
	width: 100%;
	margin-top: -130px;
}
.cal-content h2{
	color: #fff;
	margin-bottom: 30px;
	font-weight: 400!important;
}
.white-btn{
	padding: 14px 35px;
	color: #fff;
	border: 1px #fff solid;
	border-radius: 4px;
}
.white-btn:hover{
	color: #fff;
}
.theme-color{
	color: #1B365D;
}
.theme-bg{
	background: #1B365D;
}
.fun-fact-box{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fun-fact-iteam{
	width: 48%;
	background: #F8F8F8;
	padding:10px 20px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 15px;
}
.fun-fact-iteam h3{
	font-size: 49px;
	color:#1B365D;
	font-weight: 300!important;
}
.choose-area{
	width: 80%;
	display: flex;
	align-items: center;
	color: #fff;
	border-radius: 4px;
	margin-left: auto;
}
.choose{
	padding-bottom: 50px;
}
.choose-box{
	width: 40%;
	border-radius: 5px;
	padding: 40px 30px;
	margin-right: -80px;
	margin-top: 80px;
	z-index: 9;
}
.choose-img {
    width: 66%;
}
.choose-img img{
	width: 100%;
	border-top-left-radius: 5px;
}
.choose-box-iteam{
	display: flex;
	margin-bottom: 25px;
}
.icone-box{
	width: 15%;
}
.icone-box i{
	background: #fff;
	color: #1B365D;
	padding:20px 15px;
	border-radius: 5px;
	font-size: 35px;
}
.choose-box-content{
	width: 85%;
	padding-left: 15px;
}
.owl-carousel{
	padding: 30px 0;
}
.item{
	margin-right: 10px;
}
.teasmonail-box{
	width: 100%;
	margin: 5px;
	background: #fff;
	border-radius: 16px;
	box-shadow: 0px 0px 10px 0px rgba(141.37499999999997, 141.37499999999997, 141.37499999999997, 0.47);
	text-align: center;
}
.teasmonail-box p{
	padding: 20px;
}
.star{
	width: 80px!important;
	margin: 0 auto;
	margin-top: -50px;
}
.test-bottom{
	padding: 5px 0;
	text-align: center;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
.test-bottom img{
	border-radius: 100%;
	background: #f2f2f2;
	width: 50px!important;
	margin: 0 auto;
	margin-top: -20px;
	margin-bottom: 10px;
	
}
.test-bottom h4 {
    color: #fff;
    font-size: 16px;
}
.testmonail-section{
	background: #ffffff;
}

.custom-nav .owl-prev,
.custom-nav .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: #1B365D;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 4px;
}
.custom-nav .owl-prev {
	left: -30px;
}
.custom-nav .owl-next {
	right: -30px;
}
footer{
	padding: 50px 0;
	color: #fff;
}
footer ul li{
	margin-bottom: 10px;
}
footer ul li a{
	color: #fff;
}
footer ul li a:hover{
	color: #fff;
}
footer input{
	padding: 10px 15px;
	background: transparent;
	border: 1px #fff solid;
	border-radius: 3px;
	width: 75%;
}
footer form{
	display: flex;
}
footer input::placeholder{
	color: #fff;
}
input[type="submit"] {
	color: #fff;
	margin-left: 14px;
	width: 25%;
	background: #061D3E;
}
.copy{
	text-align: center;
	margin-top: 40px;
}
.page-title{
	padding: 50px 0;
	color: #fff;
	background-size: cover!important;
}
.aboout-us{
	padding: 100px 0;
}
.page-title ul{
	display: flex;
}
.page-title ul li {
	margin-right: 15px;
}
.page-title ul li a{
	font-size: 11px;
	color: #fff;
}
.page-title ul li a i{
	margin-right: 8px;
}
.scetion-title-2{
	width: 85%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.scetion-title-2 h2{
	color: #061D3E;
}
.choose-img2{
	height:65vh;
	background-size: cover!important;
}
.choose-box2{
	margin-top: 50px;
}
.socail-link{
	display: flex;
}
.socail-link li{
	margin-right: 15px;
}
.about-ceo img{
	width: 100%;
}
.ceo-content h2{
	margin-bottom: 50px;
	color: #1B365D;
}
.br-pra{
	padding-left: 15px;
	border-left: 4px #061D3E solid;
}
.ceo-content img{
	width: 300px;
	margin-top: 30px;
}
.ceo-m{
	font-size: 20px;
	margin-top: 10px;
	color: #7A7A7A;
}
.call-action2{
	padding: 40px 0;
	color: #fff;
}
.call-action2 p{
	font-size: 25px;
	width: 50%;
}
.mission-box{
	border-radius:8px;
	padding: 20px;
	height: 100%;
	color: #fff;
}
.mission-box h3{
	margin-bottom: 10px;
}
.team-box img{
	width: 100%;
}
.team-box{
	text-align: center;
	box-shadow: 0px 0px 10px 0px rgba(141.37499999999997, 141.37499999999997, 141.37499999999997, 0.47);
}
.team-box h3{
	font-size: 20px;
	margin: 10px 0 0;
}
.team-box p{
	color: #7A7A7A;
	padding-bottom: 10px;
}

/* property-shorInfo */
.property-shorInfo{
	width: 100%;
	
	padding: 15px 0;
	margin: 20px 0;
	box-shadow: 0px 0px 10px 0px rgba(141.37499999999997, 141.37499999999997, 141.37499999999997, 0.47);
}
.property-menu .main-menu{
	box-shadow: 0px 10px 10px -10px rgba(192.75000000000003, 192.75000000000003, 192.75000000000003, 0.63);
}
.page-link-poerty{
	display: flex;
}
.page-link-poerty li{
	margin-right: 15px;
}
.page-link-poerty li a{
	color: #54595F;
	font-size: 12px;
}
.page-link-poerty li  i{
	margin-right: 10px;
}
.property-symbole ul li{
	margin-top: 10px;
	font-size: 18px;
}
.property-short{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.property-short-left{
	width: 60%;
}
.property-short-right{
	width: 40%;
	display: flex;
	justify-content: flex-end;
}
.property-short-right  h2{
	margin-bottom: 15px;
}
.property-short-right  h2 i{
	margin-right: 10px;
}
.property-short-right a{
	padding: 13px 45px;
	border-radius: 5px;
	background: #F73F03;
	color: #fff;
}
.property-short-right a:hover{
	color: #fff;
}
.proper-all-deatailes{
	width: 100%;
	padding: 30px 0;
}

.property-information{
	width: 100%;
	border-radius: 5px;
	position: sticky;
    top: 30px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px rgba(141, 141, 141, 0.222);
}
.property-information h3{
	text-align: center;
}
.property-information ul{
	display: flex;
	justify-content: center;
}
.property-information ul li{
	margin: 5px;
}
.property-information ul li svg{
	width: 30px;
	border-radius: 4px;
}
.property-information input{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
	border: 1px #54595F solid;
}
.property-information label{
	text-align: left;
	margin-bottom: 5px;
	color: #54595F;
}
.property-information input[type="submit"]{
	margin-left: 0;
}
.property-slider{
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px rgba(141, 141, 141, 0.222);
}
.property-slider .carousel-item{
	height: 500px;
	overflow: hidden;
}
.box-shad{
	box-shadow: 0px 0px 10px 0px rgba(141, 141, 141, 0.222);
}
.overview{
	border-radius: 5px;
	padding: 10px;
	margin: 20px 0;
}
.padd-pro{
	border-radius: 5px;
	padding: 10px;
	margin: 20px 0;
}
.lanplan img{
	width: 100%;
}
.approximate-advantage{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ad-iteam{
	text-align: center;
	background: #F9F9F9;
	border: 1px #b9b9b9 solid;
	border-radius: 4px;
	width: 23%;
	padding: 10px;
	margin-bottom: 20px;
}
.ad-iteam img{
	width: 50px;
}
.ad-iteam p{
	margin-top: 10px;
	font-weight: 600;
	margin-bottom: 0;
}
table{
	width: 100%;
}
table, th, td {
	border-collapse: collapse;
	padding:10px 20px;
	border:1px solid rgb(182, 182, 182);
}
.first-table, .second-table{
	width: 30%;
	padding:10px;
	text-align: center;
}

.third-table{
	width: 40%;
	text-align: center;
}
.booked{
	text-align: center;
	background: #FF9E3D;
	padding: 8px;
	border-radius: 4px;
	color: #7A7A7A;
}
td{
	padding: 20px;
}
.reserve{
	color: #fff;
	background: #1B365D;
}
.slod{
	color: #fff;
	background: #F43030;
}
.booked, .slod:hover{
	cursor: not-allowed;
}
.reserve:hover{
	cursor: pointer!important;
}
.section-title-center p span{
	font-weight: 600;
	line-height: 30px;
}
.contact-box{
	width: 100%;
	border-radius: 20px;
	padding: 20px;
	height: 100%;
	border: 2px #061D3E solid;

}
.contact-box img{
	width: 80px;
	background:#29528D;
	padding: 10px;
	border-radius: 100%;
	margin-top: -50px;
	margin-bottom: 20px;
}
.contact-box h3{
	color: #061D3E;
}
.contact-box p{
	margin-bottom: 0;
}
.contact-box span{
	font-weight: 600;
}
.white-headiing{
	text-align: center;
	color: #fff;
}
.contact-box-map{
	display: flex;
	margin-top: -100px;
	border-radius: 25px;
	overflow: hidden;
	margin-bottom: 100px;
	box-shadow: 0px 0px 10px 0px rgba(141.37499999999997, 141.37499999999997, 141.37499999999997, 0.47);
}
.contactmap{
	width: 50%;
}
.contact-from-div{
	width: 50%;
	padding: 40px;
	background: #fff;
}
.section-padding-contact{
	padding: 100px 0 150px;
}
.contact-from-div input{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px #7A7A7A solid;
}
.contact-from-div textarea{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px #7A7A7A solid;
}
.contact-from-div input[type="submit"]{
	margin-left: 0;
}
.event-photo{
	padding: 30px;
	box-shadow: 0px 0px 10px 0px rgba(141.37499999999997, 141.37499999999997, 141.37499999999997, 0.47);
}
.event-photo ul{
	display: flex;
	flex-wrap: wrap;
}
.event-photo ul li{
	width: 33.33%;
}
.event-photo ul li img{
	width: 100%;
}
.calendly-inline-widget{
	width: 100%;
	padding-bottom: 100px;
}
.section-title-event{
	text-align: center;
}
.porperty-showcase{
	padding: 10px;
	border-radius: 5px;
	
	box-shadow: 0px 0px 10px 0px rgba(141.37499999999997, 141.37499999999997, 141.37499999999997, 0.47);
}
.showcase-img img{
	width: 100%;
	transition: 1s;
}
.showcase-img{
	width: 100%;
	overflow: hidden;
	height: 220px;
	position: relative;
}
.porperty-showcase:hover .showcase-img img{
	transform: scale(1.5);
}
.porperty-showcase ul{
	margin-top: 10px;
}
.porperty-showcase ul li{
	margin: 5px;
	color: #000;
}
.porperty-showcase ul li i{
	margin-right: 10px;
}
.porperty-showcase span{
	display: block;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 13px 35px;
}
.view-detail{
	display: block;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 13px 35px;
}
.view-detail:hover{
	color: #fff;
}

.porperty-showcase h4{
	margin: 10px 0;
	color: #000;
}
.showcase-img h5{
	position: absolute;
	right: 10px;
	top: 10px;
	background: #07C645;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 15px;
	
}
.showcase-img h6{
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #fff;
	font-size: 18px;
	
}
.sould-out{
	background: #000!important;
}


/* popup */
.popup-container {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
  }
  
  .popup-content {
	position: relative;
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	border-radius: 10px;
  }
  
  .close-popup {
	position: absolute;
	top: 10px;
	right: 15px;
	color: #aaa;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
  }
  
  .close-popup:hover,
  .close-popup:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .popup-content input{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
	border: 1px #54595F solid;
}
.popup-content label{
	text-align: left;
	margin-bottom: 5px;
	color: #54595F;
}
.popup-content input[type="submit"]{
	margin-left: 0;
}