
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Almarai", sans-serif;

}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none!important;
}
li{
	list-style: none!important;
}
h1{
	font-size: 40px;
	font-weight: 600!important;
}
h2{
	font-size: 32px;
	font-weight: 600!important;
}
h3{
	font-size: 24px;
	font-weight: 600!important;
}

p{
	font-size: 16px;
}
.for-mobile{
	display: none;
}
.dis-flex{
	display: flex;
	align-items: center;
}
.dis-content{
	display: flex;
	justify-content: space-between;
}
.section-padding{
	width: 100%;
	display: flex;
	padding: 100px 0;
}


/* hero-section */
.hero{
	width: 100%;
	height: 80vh;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    overflow: hidden;
    z-index: -1;
}
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(27,54,93,1) 76%);
    z-index: 1;
}
.top-menu{
	padding: 8px 0;
	background-color: #1C355E4D;;
}
.top-menu-left ul,.top-menu-right ul {
	display: flex;
	margin: 0;
	padding: 0;
}
.top-menu-left ul li a , .top-menu-right ul li a{
	color: #fff;
	font-size: 14px;
}
.top-menu-left ul li{
	margin-right: 20px;
}
.top-menu-left ul li i{
	margin-right: 10px;
}
.top-menu-right li{
	margin-left: 20px;
}
.top-menu-right li i{
	font-size: 18px;
}

.navbar-nav .nav-item:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}
.navbar-brand img{
	width: 150px;
}
.nav-link {
	color: #fff;
	margin-left: 40px;
	font-size: 16px;
	font-weight: 600;
	margin-top: 20px;
}
.nav-link:hover{
	color: #fff;
}
.navbar{
	padding: 0!important;
}
.hero-content{
	color: #fff;
}
.hero-text{
	margin-top: 80px;
	width: 60%;
}
.hero-text p{
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 30px;
}
.hero-text a{
	color: #fff;
	border: 1px #fff solid;
	border-radius: 5px;
	padding: 13px 35px;
}
.hero-text-bottom{
	margin-top: 100px;
}
.hero-box{
	margin-top: 20px;
	border: 1px #fff solid;
	border-radius: 5px;
	padding: 20px 25px;
}
.hero-box-left{
	width: 70%;
	padding-right: 10px;
}
.hero-box-left p{
	font-size: 14px;
	margin: 0;
}
.hero-box-left h5{
	font-size: 16px;
	font-weight: 600;
	margin-bottom:8px;
}
.hero-box-right{
	width: 30%;
	text-align: right;
}
.hero-box-right img{
	width:60px;
}


/* properties */
.properties-area{
	width: 100%;
	display: flex;
	margin-top: 40px;
	border: 4px #fff solid;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 0px 10px 0px rgba(141.37499999999997, 141.37499999999997, 141.37499999999997, 0.47);
}
.section-title-center{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.section-title-center h2{
	color: #1B365D;
}
.properties-area-left{
	width: 40%;
	padding: 40px 20px 60px;
	background: #F6F6F6;
}
.properties-area-right{
	width: 60%;
	text-align: right;
	background-size: cover!important;
}
.properties-area-right h3{
	font-size: 20px;
	color: #fff;
	display: inline-block;
	font-weight: 400!important;
	background: #07C645;
	padding: 10px;
	margin: 15px;
	border-radius: 4px;
}
.properties-area-left{
	text-align: center;
}
.properties-area-left ul{
	text-align: left;
	width: 100%;
}
.properties-area-left ul li{
	margin-bottom: 10px;
}
.properties-area-left ul li i{
	margin-right: 10px;
}
.bule-btn{
	padding: 14px 35px;
	color: #fff;
	background: #1B365D;
	border-radius: 4px;
}
.bule-btn:hover{
	color: #fff;
}

/* call-to-action */
.call-to-action{
	width: 100%;
	padding: 40px 0 30px;
	margin-top: 100px;
	background: #1B365D;
}
.cal-img img{
	width: 100%;
	margin-top: -130px;
}
.cal-content h2{
	color: #fff;
	margin-bottom: 30px;
	font-weight: 400!important;
}
.white-btn{
	padding: 14px 35px;
	color: #fff;
	border: 1px #fff solid;
	border-radius: 4px;
}
.white-btn:hover{
	color: #fff;
}
.theme-color{
	color: #1B365D;
}
.theme-bg{
	background: #1B365D;
}
.fun-fact-box{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fun-fact-iteam{
	width: 48%;
	background: #F8F8F8;
	padding:10px 20px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 15px;
}
.fun-fact-iteam h3{
	font-size: 49px;
	color:#1B365D;
	font-weight: 300!important;
}
.choose-area{
	width: 80%;
	display: flex;
	color: #fff;
	border-radius: 4px;
	margin-left: auto;
}
.choose{
	padding-bottom: 50px;
}
.choose-box{
	width: 40%;
	border-radius: 5px;
	padding: 40px 30px;
	margin-right: -80px;
	margin-top: 80px;
	z-index: 9;
}
.choose-img{
	width: 60%;
}
.choose-img img{
	width: 100%;
	border-top-left-radius: 5px;
}
.choose-box-iteam{
	display: flex;
	margin-bottom: 25px;
}
.icone-box{
	width: 15%;
}
.icone-box i{
	background: #fff;
	color: #1B365D;
	padding:20px 15px;
	border-radius: 5px;
	font-size: 35px;
}
.choose-box-content{
	width: 85%;
	padding-left: 15px;
}
.owl-carousel{
	padding: 30px 0;
}
.item{
	margin-right: 10px;
}
.teasmonail-box{
	width: 100%;
	margin: 5px;
	background: #fff;
	border-radius: 16px;
	box-shadow: 0px 0px 10px 0px rgba(141.37499999999997, 141.37499999999997, 141.37499999999997, 0.47);
	text-align: center;
}
.teasmonail-box p{
	padding: 20px;
}
.star{
	width: 80px!important;
	margin: 0 auto;
	margin-top: -50px;
}
.test-bottom{
	padding: 5px 0;
	text-align: center;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
.test-bottom img{
	border-radius: 100%;
	background: #f2f2f2;
	width: 50px!important;
	margin: 0 auto;
	margin-top: -20px;
	margin-bottom: 10px;
	
}
.test-bottom h4 {
    color: #fff;
    font-size: 16px;
}
.testmonail-section{
	background: #ffffff;
}

.custom-nav .owl-prev,
.custom-nav .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: #1B365D;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 4px;
}
.custom-nav .owl-prev {
	left: -30px;
}
.custom-nav .owl-next {
	right: -30px;
}
footer{
	padding: 50px 0;
	color: #fff;
}
footer ul li{
	margin-bottom: 10px;
}
footer ul li a{
	color: #fff;
}
footer ul li a:hover{
	color: #fff;
}
footer input{
	padding: 10px 15px;
	background: transparent;
	border: 1px #fff solid;
	border-radius: 3px;
	width: 75%;
}
footer form{
	display: flex;
}
footer input::placeholder{
	color: #fff;
}
input[type="submit"] {
	color: #fff;
	margin-left: 14px;
	width: 25%;
	background: #061D3E;
}
.copy{
	text-align: center;
	margin-top: 40px;
}